---
    const { title, description, link, icon } = Astro.props;
---
<div class="single-how-works">
    <div class="single-how-works-icon">
        <i class={ icon }></i>
    </div>
    <h4><a href={ link } target="_blank">{title}</a></h4>
    <p>
        {description}
    </p>
</div>