---
import Lenguaje from './lenguaje.astro';
---

<ul class="row">
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="PHP" link="https://www.php.net/" icon="fa-brands fa-php" description="Desarrollo backend eficiente y escalable con PHP para sitios y aplicaciones web."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="JavaScript" link="https://developer.mozilla.org/es/docs/Web/JavaScript" icon="fa-brands fa-js" description="Interactividad y dinamismo en interfaces web modernas, tanto frontend como backend."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="SQL" link="https://www.mysql.com/" icon="fa-solid fa-database" description="Gestión, consulta y manipulación eficiente de bases de datos relacionales."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="HTML" link="https://developer.mozilla.org/es/docs/Web/HTML" icon="fa-brands fa-html5" description="Estructuración clara y semántica de contenido web."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="XML" link="https://ubl.xml.org/" icon="fa-solid fa-code" description="Intercambio y organización de datos con formato flexible y extensible."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="LUA" link="https://www.lua.org/" icon="fa-solid fa-code" description="Lenguaje ligero y embebible ideal para scripts y automatización eficiente."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Bash" link="https://www.gnu.org/software/bash/" icon="fa-solid fa-code" description="Automatización de tareas y control de entornos Unix/Linux por consola."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Python" link="https://www.python.org/" icon="fa-brands fa-python" description="Desarrollo versátil con sintaxis clara para scripts, apps y análisis de datos."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Java" link="https://www.java.com/" icon="fa-brands fa-java" description="Aplicaciones robustas y multiplataforma con enfoque en rendimiento y escalabilidad."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Dart" link="https://dart.dev/" icon="fa-brands fa-dart-lang" description="Desarrollo rápido y estructurado de aplicaciones frontend, especialmente con Flutter."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Liquid" link="https://shopify.github.io/liquid/" icon="fa-solid fa-code" description="Motor de plantillas flexible para sitios y tiendas dinámicas como Shopify."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Blade" link="https://bladelang.org/" icon="fa-solid fa-code" description="Plantillas limpias y reutilizables para proyectos Laravel en PHP."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="SaSS" link="https://sass-lang.com/" icon="fa-brands fa-sass" description="Extensión de CSS con variables, funciones y anidación para estilos más mantenibles."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Less" link="https://lesscss.org/" icon="fa-brands fa-less" description="Preprocesador CSS que facilita estilos modulares y dinámicos."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Css" link="https://developer.mozilla.org/es/docs/Web/CSS" icon="fa-brands fa-css3-alt" description="Estilizado visual y responsivo para interfaces web atractivas."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Latex" link="https://www.latex-project.org/" icon="fa-solid fa-code" description="Composición precisa de documentos técnicos, científicos y académicos."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="TypeScript" link="https://www.typescriptlang.org/" icon="fa-solid fa-code" description="Código JavaScript tipado que mejora la escalabilidad y mantenibilidad."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Scratch" link="https://scratch.mit.edu/" icon="fa-solid fa-code" description="Programación visual educativa para enseñar lógica y creatividad desde cero."/>
    </li>
</ul>