---
import Lenguaje from './lenguaje.astro';
---

<ul class="row">
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Laravel" link="https://laravel.com/" icon="fa-brands fa-laravel" description="Framework PHP elegante y estructurado para desarrollar aplicaciones web robustas y escalables."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Zend Framework" link="https://www.zend.com/" icon="fa-solid fa-book" description="Framework PHP enfocado en rendimiento, seguridad y desarrollo empresarial escalable."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="VueJS" link="https://vuejs.org/" icon="fa-brands fa-vuejs" description="Framework progresivo para construir interfaces web interactivas y componentes reutilizables."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="ReactHooks" link="https://react.dev/" icon="fa-brands fa-react" description="Librería JavaScript para construir interfaces de usuario dinámicas y reactivas."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="ElectronJS" link="https://www.electronjs.org/" icon="fa-solid fa-book" description="Framework para crear aplicaciones de escritorio multiplataforma con tecnologías web."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Astro" link="https://astro.build/" icon="fa-solid fa-book" description="Framework web optimizado para velocidad, que genera sitios estáticos con carga ultra rápida."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Ionic" link="https://ionicframework.com/" icon="fa-solid fa-book" description="Framework para crear apps móviles y web multiplataforma con tecnologías web estándar."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Wordpress" link="https://wordpress.com/" icon="fa-brands fa-wordpress" description="CMS flexible y popular para crear y gestionar sitios web de forma sencilla."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Joomla!" link="https://www.joomla.org/" icon="fa-brands fa-joomla" description="Sistema de gestión de contenidos robusto con enfoque modular y comunitario."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Drupal" link="https://new.drupal.org/" icon="fa-brands fa-drupal" description="CMS potente y seguro, ideal para sitios complejos y personalizados."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Magento" link="https://business.adobe.com/products/magento/magento-commerce.html" icon="fa-brands fa-magento" description="Plataforma eCommerce robusta y escalable para tiendas en línea avanzadas."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Shopify" link="https://www.shopify.com" icon="fa-brands fa-shopify" description="Solución todo-en-uno para crear tiendas en línea de forma rápida y sencilla."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Umbraco" link="https://umbraco.com/" icon="fa-brands fa-umbraco" description="CMS flexible y amigable basado en .NET para sitios web personalizados."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Modx" link="https://modx.com/" icon="fa-brands fa-modx" description="CMS y framework híbrido para desarrollo web libre, seguro y altamente personalizable."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="jQuery" link="https://jquery.com/" icon="fa-solid fa-book" description="Librería JavaScript que simplifica la manipulación del DOM y eventos con código conciso."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Mootools" link="https://mootools.net/" icon="fa-solid fa-book" description="Librería JavaScript orientada a objetos para construir interfaces web limpias y modulares."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Webpack" link="https://webpack.js.org/" icon="fa-solid fa-book" description="Empaquetador de módulos que optimiza y organiza recursos para aplicaciones web modernas."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="nodejs" link="https://nodejs.org" icon="fa-brands fa-node-js" description="Entorno de ejecución JavaScript del lado del servidor, ideal para apps rápidas y escalables."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="openAI" link="https://openai.com/" icon="fa-solid fa-book" description="Plataforma de inteligencia artificial avanzada para procesamiento de lenguaje, visión y generación de contenido."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="localAI" link="https://localai.io/" icon="fa-solid fa-book" description="Implementación local de modelos de IA, enfocada en privacidad y control sin depender de la nube."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Vision" link="https://cloud.google.com/vision" icon="fa-solid fa-book" description="API de análisis de imágenes que detecta objetos, texto y etiquetas usando IA de Google."/>
    </li>
</ul>