---
import Lenguaje from './lenguaje.astro';
---

<ul class="row">
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Git" link="https://git-scm.com/" icon="fa-brands fa-git" description="Sistema de control de versiones distribuido para gestionar cambios en proyectos de forma eficiente."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="SVN" link="https://subversion.apache.org/" icon="fa-solid fa-wrench" description="Sistema de control de versiones centralizado para gestionar el historial de archivos y proyectos."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Jira" link="https://www.atlassian.com/es/software/jira" icon="fa-brands fa-jira" description="Herramienta de gestión de proyectos y seguimiento de tareas, ideal para equipos ágiles."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="GitLab" link="https://about.gitlab.com/" icon="fa-brands fa-gitlab" description="Plataforma de DevOps para gestionar repositorios Git, integración continua y colaboración en proyectos."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Github" link="https://github.com/" icon="fa-brands fa-github" description="Servicio de hospedaje de código fuente con control de versiones Git, ideal para colaboración y proyectos open-source."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Bitbucket" link="https://bitbucket.org/product/" icon="fa-brands fa-bitbucket" description="Plataforma para gestión de código Git y Mercurial, enfocada en integración continua y flujos de trabajo ágiles."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Asana" link="https://asana.com/" icon="fa-solid fa-wrench" description="Herramienta de gestión de tareas y proyectos, diseñada para mejorar la productividad y colaboración en equipos."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Zoho" link="https://www.zoho.com" icon="fa-solid fa-wrench" description="Suite de aplicaciones empresariales en la nube que abarca CRM, productividad, marketing y más."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="AWS" link="https://aws.amazon.com/" icon="fa-brands fa-aws" description="Plataforma de servicios en la nube que ofrece soluciones escalables y seguras para infraestructura, almacenamiento y computación."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Docker" link="https://www.docker.com/" icon="fa-brands fa-docker" description="Herramienta para automatizar la implementación de aplicaciones en contenedores, facilitando la consistencia entre entornos."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="DigitalOcean" link="https://www.digitalocean.com/" icon="fa-brands fa-digital-ocean" description="Proveedor de infraestructura en la nube, especializado en soluciones simples y escalables para desarrolladores."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Apache" link="https://httpd.apache.org/" icon="fa-solid fa-wrench" description="Servidor web robusto y flexible, utilizado para alojar aplicaciones y sitios web de alto rendimiento."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="MySQL" link="https://www.mysql.com/" icon="fa-solid fa-wrench" description="Sistema de gestión de bases de datos relacional, ampliamente usado por su fiabilidad y rendimiento."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="MariaDB" link="https://mariadb.org/" icon="fa-solid fa-wrench" description="Fork de MySQL, con mejoras en rendimiento, seguridad y características avanzadas para bases de datos."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="DynamoDB" link="https://aws.amazon.com/es/dynamodb/" icon="fa-solid fa-wrench" description="Base de datos NoSQL de alto rendimiento y escalabilidad, gestionada por AWS."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="SQLite" link="https://sqlite.org/" icon="fa-solid fa-wrench" description="Base de datos ligera, autónoma y embebible, ideal para aplicaciones móviles y proyectos pequeños."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Amazon Q" link="https://aws.amazon.com/es/q/?nc2=h_ql_prod_l1_q" icon="fa-solid fa-wrench" description="Servicios de computación cuántica en la nube para resolver problemas complejos con tecnologías avanzadas."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="ChatGPT" link="https://chatgpt.com/" icon="fa-solid fa-wrench" description="Modelo de lenguaje de IA para generación de texto, comprensión de conversaciones y asistencia virtual."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Gemini" link="https://gemini.google.com/" icon="fa-solid fa-wrench" description="Plataforma de inteligencia artificial de Google enfocada en comprensión avanzada de datos y generación de texto."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Copilot" link="https://copilot.microsoft.com/" icon="fa-solid fa-wrench" description="Herramienta de autocompletado de código basada en IA, integrada con editores como Visual Studio Code."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="VSCode" link="https://code.visualstudio.com/" icon="fa-solid fa-wrench" description="Editor de código fuente ligero y extensible, ideal para desarrollo web y de aplicaciones con soporte para múltiples lenguajes."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="ohMyZSH" link="https://ohmyz.sh/" icon="fa-solid fa-wrench" description="Framework para gestionar configuraciones de terminal Zsh, mejorando la productividad y personalización del entorno."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Postman" link="https://www.postman.com/" icon="fa-solid fa-wrench" description="Herramienta para probar y documentar APIs, facilitando el desarrollo y la integración de servicios web."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Insomnia" link="https://insomnia.rest/" icon="fa-solid fa-wrench" description="Cliente de API para probar, depurar y documentar APIs REST, GraphQL y WebSocket con una interfaz intuitiva."/>
    </li>
</ul>