---
import Item from './jobs/item.astro';
---
<div class="section-header">
    <a name="experience"></a>
    <h2>Experiencia</h2>
    <p>Trayectoria laboral en la que he contribuido con soluciones técnicas, desarrollo creativo y trabajo colaborativo.</p>
</div><!--/.section-header-->
<div class="blog-content">
    <div class="row">
        <Item title="SoDigital" 
            link="https://sodigital.mx/" 
            image="/assets/images/sodigital.png" 
            cargo="Gerente de Desarrollo" 
            fecha="2020-Actual"
            description="Planeación y desarrollo de proyectos, arquitectura de software, programación FullStack, integración, DevOps, QA y SEO. Creación de procesos y departamentos de desarrollo."/>
        <Item title="Ingenia Agency" 
            link="https://ingenia.com/" 
            image="/assets/images/ingenia.png" 
            cargo="Desarrollador Backend" 
            fecha="2019-2020"
            description="Planeación y desarrollo de proyectos, arquitectura de software, integración."/>
        <Item title="Zenit Consultores" 
            link="https://zenit.mx/" 
            image="/assets/images/zenit.png" 
            cargo="Desarrollador FullStack" 
            fecha="2018-2019"
            description="Diseño y desarrollo de proyectos, liderazgo de proyectos, análisis y corrección de errores."/>
        <Item title="CAT Products" 
            link="https://imaldimexico.com/" 
            image="/assets/images/imaldi.png" 
            cargo="Gerente de Desarrollo" 
            fecha="2013-2018"
            description="Desarrollo de sistemas ERP, consultoría en infraestructura de red, seguridad y comercio electrónico."/>
        <Item title="Electronic Spacios Finder" 
            link="https://e-spacios.com/" 
            image="/assets/images/espacios.png" 
            cargo="Desarrollador FullStack" 
            fecha="2012-2013"
            description="Desarrollo de sitio web, SEO, Arquitectura, DBA, DevOps"/>
        <Item title="Idea Diseño" 
            link="https://ideadiseno.com.mx/" 
            image="/assets/images/idea.png" 
            cargo="Desarrollador FullStack" 
            fecha="2011-2012"
            description="Desarrollo de sitios web, creación de soluciones tecnológicas innovadoras"/>
        <Item title="Computación Integral HETI" 
            link="https://heti.com.mx/" 
            image="/assets/images/heti.png" 
            cargo="Desarrollador FullStack" 
            fecha="2009-2010"
            description="Desarrollo de sitios web, sistemas ERP, soluciones web, integraciones."/>
        <Item title="ASM Clasificados de México" 
            link="https://www.segundamano.mx/" 
            image="/assets/images/asm.png" 
            cargo="HelpDesk" 
            fecha="2007-2009"
            description="Soporte, desarrollo de herramientas productivas."/>
        
        <Item title="Mainbit" 
            link="https://www.mainbit.com.mx/" 
            image="/assets/images/mainbit.png" 
            cargo="HelpDesk" 
            fecha="2006-2007"
            description="Atención a domicilio para atención de incidencias IT."/>
    
        <Item title="Computadoras DAE" 
            link="#" 
            image="/assets/images/dae.jpg" 
            cargo="Gerente de Producción" 
            fecha="2003-2006"
            description="Ensamble de equipos de cómputo."/>
    </div>
</div>