<div class="list-topics-content">
    <ul>
        <li>
            <div class="single-list-topics-content">
                <div class="single-list-topics-icon">
                    <a href="#profile"><i class="fa-regular fa-user"></i></a>
                </div>
                <h2><a href="#profile">Perfil Profesional</a></h2>
            </div>
        </li>
        <li>
            <div class="single-list-topics-content">
                <div class="single-list-topics-icon">
                    <a href="#skills"><i class="fa-solid fa-hands-holding"></i></a>
                </div>
                <h2><a class="title" href="#skills">Habilidades</a></h2>
            </div>
        </li>
        <li>
            <div class="single-list-topics-content">
                <div class="single-list-topics-icon">
                    <a href="#softskills"><i class="fa-solid fa-hands-praying"></i></a>
                </div>
                <h2><a href="#softskills">Habilidades Blandas</a></h2>
            </div>
        </li>
        <li>
            <div class="single-list-topics-content">
                <div class="single-list-topics-icon">
                    <a href="#experience"><i class="fa-regular fa-building"></i></a>
                </div>
                <h2><a href="#experience">Experiencia</a></h2>
            </div>
        </li>
        <li>
            <div class="single-list-topics-content">
                <div class="single-list-topics-icon">
                    <a href="/es/projects"><i class="fa-solid fa-diagram-project"></i></a>
                </div>
                <h2><a href="/es/projects">Proyectos</a></h2>
            </div>
        </li>
    </ul>
</div>