---
import Lenguajes from './skills/lenguajes.astro';
import Platforms from './skills/platforms.astro';
import Tools from './skills/tools.astro';
---

<div class="section-header">
    <h2><a name="skills"></a>Habilidades</h2>
    <p>Dominio de herramientas y conocimientos técnicos clave para desarrollar soluciones funcionales y de alto impacto.</p>
</div>
<hr>
<h3>Lenguajes de Desarrollo</h3>
<hr>
<div class="works-content">
    <Lenguajes />
</div>
<hr>
<h3>Frameworks, CMS y Plataformas</h3>
<hr>
<div class="works-content">
    <Platforms />
</div>
<h3>Herramientas de Desarrollo, Control de Versiones e Inteligencia Artificial</h3>
<hr>
<div class="works-content">
    <Tools />
</div>