---
import Item from './softskills/item.astro';
---

<div class="section-header">
    <a name="softskills"></a>
    <h2>Habilidades Blandas</h2>
    <p><strong>M谩s all谩 del c贸digo, tambi茅n construyo conexiones, soluciones y entornos de trabajo sanos.</strong></p>
    <p>Estas habilidades personales complementan mi experiencia t茅cnica, permiti茅ndome colaborar de forma efectiva, adaptarme a los cambios y resolver desaf铆os con una mentalidad abierta, anal铆tica y humana.</p>
</div><!--/.section-header-->
<div class="explore-content">
    <div class="row">
        <Item title=" Comunicaci贸n y colaboraci贸n" imagen="/assets/images/4900139750514601594.jpg" list={[
            "Comunicaci贸n efectiva",
            "Escucha activa",
            "Trabajo en equipo",
            "Empat铆a profesional",
            "Negociaci贸n t茅cnica"
        ]}/>
        <Item title=" Pensamiento y resoluci贸n" imagen="/assets/images/4900139750514601597.jpg" list={[
            "Pensamiento cr铆tico",
            "Resoluci贸n de problemas",
            "Toma de decisiones",
            "Pensamiento anal铆tico",
            "Adaptabilidad"
        ]}/>
        <Item title=" Productividad y enfoque" imagen="/assets/images/4900139750514601595.jpg" list={[
            "Gesti贸n del tiempo",
            "Autonom铆a",
            "Responsabilidad",
            "Organizaci贸n",
            "Enfoque en resultados"
        ]}/>
        <Item title=" Actitud y mentalidad" imagen="/assets/images/4900139750514601596.jpg" list={[
            "Aprendizaje continuo",
            "Curiosidad tecnol贸gica",
            "Resiliencia",
            "Mentalidad de crecimiento",
            "tica profesional"
        ]}/>
        
    </div>
</div>