<a name="profile"></a>
<div class="section-header">
    <h2>Perfil Profesional</h2>
</div>
<div class="textblock row d-flex" >
    <div class="col-12 col-md-4 h-100">
        <div class="h-100">
            <img src="/assets/images/frase.jpg" alt="Paynalton" class="img-fluid rounded-circle d-sm-none" />
        </div>
    </div>
    <div class="col-12 col-md-8 h-100">
        <h2>Paynalton</h2>
        <p><strong>Fullstack Web Developer</strong></p>
        <p><strong>30 years of experience</strong></p>
        <p><strong>Passion for technology and innovation</strong></p>
        <p>I am a <strong>fullstack web developer</strong> with <strong>30 years of experience</strong>, passionate about <strong>technology</strong>, <strong>innovation</strong>, and <strong>problem solving</strong>. Throughout my career, I have worked on the <strong>creation of web applications</strong>, database management, and the implementation of <strong>scalable</strong> and <strong>secure infrastructures</strong>. My focus is always on <strong>optimizing processes</strong>, delivering <strong>exceptional user experiences</strong>, and using the best tools available to achieve it.</p>
    
        <p>I have worked with a wide range of <strong>technologies</strong>, from <strong>frameworks</strong> like <strong>Laravel</strong> and <strong>Vue.js</strong>, to <strong>cloud infrastructure solutions</strong> with <strong>AWS</strong> and <strong>DigitalOcean</strong>. My experience has allowed me to adapt to diverse projects and needs, always ensuring a high standard of quality in every delivery.</p>
    
        <p>I consider myself someone who enjoys both the <strong>challenges</strong> and the <strong>achievements</strong> that come with building projects from scratch. My goal is to keep growing in a dynamic environment where I can contribute my <strong>knowledge</strong> and <strong>skills</strong>, while continuing to learn and face new opportunities.</p>
    
        <p>If you're looking for a <strong>seasoned professional</strong> with an <strong>innovative mindset</strong> and strong <strong>adaptability</strong>, I'd be happy to connect and discuss how I can contribute to the success of your next project.</p>
    </div>    
</div>
<div class="textblock"> 
    <blockquote cite="https://es.wikipedia.org/wiki/Albert_Camus">
        <p>What we do in life echoes in eternity.</p>
        <footer>— <cite>Marcus Aurelius</cite></footer>
    </blockquote>
</div>