---
import Lenguajes from './skills/lenguajes.astro';
import Platforms from './skills/platforms.astro';
import Tools from './skills/tools.astro';
---

<div class="section-header">
    <h2><a name="skills"></a>Skills</h2>
    <p>Mastery of key tools and technical knowledge to develop functional and high-impact solutions.</p>
</div>
<hr>
<h3>Programming Languages</h3>
<hr>
<div class="works-content">
    <Lenguajes />
</div>
<hr>
<h3>Frameworks, CMS, and Platforms</h3>
<hr>
<div class="works-content">
    <Platforms />
</div>
<h3>Development Tools, Version Control, and Artificial Intelligence</h3>
<hr>
<div class="works-content">
    <Tools />
</div>
