---
import Item from './softskills/item.astro';
---

<div class="section-header">
    <a name="softskills"></a>
    <h2>Soft Skills</h2>
    <p><strong>Beyond code, I also build connections, solutions, and healthy work environments.</strong></p>
    <p>These personal skills complement my technical expertise, allowing me to collaborate effectively, adapt to change, and tackle challenges with an open, analytical, and human mindset.</p>
</div>
<!--/.section-header-->
<div class="explore-content">
    <div class="row">
        <Item title="💬 Communication & Collaboration" imagen="/assets/images/4900139750514601594.jpg" list={[
            "Effective communication",
            "Active listening",
            "Teamwork",
            "Professional empathy",
            "Technical negotiation"
        ]}/>
        <Item title="🧠 Thinking & Problem-Solving" imagen="/assets/images/4900139750514601597.jpg" list={[
            "Critical thinking",
            "Problem solving",
            "Decision making",
            "Analytical thinking",
            "Adaptability"
        ]}/>
        <Item title="🚀 Productivity & Focus" imagen="/assets/images/4900139750514601595.jpg" list={[
            "Time management",
            "Autonomy",
            "Accountability",
            "Organization",
            "Results-oriented mindset"
        ]}/>
        <Item title="🌱 Attitude & Mindset" imagen="/assets/images/4900139750514601596.jpg" list={[
            "Continuous learning",
            "Technological curiosity",
            "Resilience",
            "Growth mindset",
            "Professional ethics"
        ]}/>
        
        
    </div>
</div>