---
import Skills from './index/skills.astro';
import Profile from './index/profile.astro';
import Menu from './index/menu.astro';
import Softskills from './index/softskills.astro';
import Jobs from './index/jobs.astro';
import Layout from '../../layouts/Default.astro';
---

<Layout
	title="Paynalton | Fullstack Web Developer with an Innovative Mindset"
	description="With over 30 years of experience, Paynalton builds innovative, efficient, and scalable web development solutions."
	keywords="Paynalton, web development, fullstack developer, experience, innovation, digital solutions"
	currentPage="home"
	lang="en"
	slogan="Leadership, code, and solutions that endure."
	subslogan="From the earliest languages to modern architectures, my mission has always been the same: to turn the complex into functional, and the functional into extraordinary."
>

	<section id="list-topics" class="list-topics">
		<div class="container">
			<Menu/>
		</div>
	</section>
	<section id=""  class="subscription">
		<div class="container">
			<Profile/>
		</div>
	</section>
	<section id="works" class="works">
		<div class="container">
			<Skills/>
		</div>
	</section>
	<section id="explore" class="explore">
		<div class="container">
			<Softskills/>
		</div>
	</section>
	<section id="blog" class="blog" >
		<div class="container">
			<Jobs/>
		</div>
	</section>
</Layout>
