---
// pages/index.astro
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0; url=/es" />
    <script>
      const lang = navigator.language || navigator.userLanguage;
      if (lang.startsWith('en')) {
        window.location.href = '/en/';
      } else {
        window.location.href = '/es/';
      }
    </script>
    <title>Redirecting...</title>
  </head>
  <body>
    <p>Redirecting...</p>
  </body>
</html>