---
import Lenguaje from './lenguaje.astro';
---

<ul class="row">
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="PHP" link="https://www.php.net/" icon="fa-brands fa-php" description="Efficient and scalable backend development with PHP for websites and web applications."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="JavaScript" link="https://developer.mozilla.org/en-US/docs/Web/JavaScript" icon="fa-brands fa-js" description="Modern web interactivity and dynamics for both frontend and backend."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="SQL" link="https://www.mysql.com/" icon="fa-solid fa-database" description="Efficient management, querying, and manipulation of relational databases."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="HTML" link="https://developer.mozilla.org/en-US/docs/Web/HTML" icon="fa-brands fa-html5" description="Clear and semantic structuring of web content."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="XML" link="https://ubl.xml.org/" icon="fa-solid fa-code" description="Flexible and extensible data exchange and organization format."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="LUA" link="https://www.lua.org/" icon="fa-solid fa-code" description="Lightweight and embeddable language ideal for scripting and efficient automation."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Bash" link="https://www.gnu.org/software/bash/" icon="fa-solid fa-code" description="Task automation and Unix/Linux environment control via console."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Python" link="https://www.python.org/" icon="fa-brands fa-python" description="Versatile development with clean syntax for scripts, apps, and data analysis."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Java" link="https://www.java.com/" icon="fa-brands fa-java" description="Robust, cross-platform applications focused on performance and scalability."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Dart" link="https://dart.dev/" icon="fa-brands fa-dart-lang" description="Fast and structured frontend development, especially with Flutter."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Liquid" link="https://shopify.github.io/liquid/" icon="fa-solid fa-code" description="Flexible templating engine for dynamic sites and Shopify stores."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Blade" link="https://bladelang.org/" icon="fa-solid fa-code" description="Clean and reusable templates for Laravel PHP projects."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="SaSS" link="https://sass-lang.com/" icon="fa-brands fa-sass" description="CSS extension with variables, functions, and nesting for more maintainable styles."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Less" link="https://lesscss.org/" icon="fa-brands fa-less" description="CSS preprocessor that simplifies modular and dynamic styling."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Css" link="https://developer.mozilla.org/en-US/docs/Web/CSS" icon="fa-brands fa-css3-alt" description="Visual and responsive styling for attractive web interfaces."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Latex" link="https://www.latex-project.org/" icon="fa-solid fa-code" description="Precise composition of technical, scientific, and academic documents."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="TypeScript" link="https://www.typescriptlang.org/" icon="fa-solid fa-code" description="Typed JavaScript code that improves scalability and maintainability."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Scratch" link="https://scratch.mit.edu/" icon="fa-solid fa-code" description="Educational visual programming for teaching logic and creativity from scratch."/>
    </li>    
</ul>