---
import Lenguaje from './lenguaje.astro';
---

<ul class="row">
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Laravel" link="https://laravel.com/" icon="fa-brands fa-laravel" description="Elegant and structured PHP framework for building robust and scalable web applications."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Zend Framework" link="https://www.zend.com/" icon="fa-solid fa-book" description="PHP framework focused on performance, security, and scalable enterprise development."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="VueJS" link="https://vuejs.org/" icon="fa-brands fa-vuejs" description="Progressive framework for building interactive web interfaces and reusable components."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="ReactHooks" link="https://react.dev/" icon="fa-brands fa-react" description="JavaScript library for building dynamic and reactive user interfaces."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="ElectronJS" link="https://www.electronjs.org/" icon="fa-solid fa-book" description="Framework for building cross-platform desktop applications using web technologies."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Astro" link="https://astro.build/" icon="fa-solid fa-book" description="Web framework optimized for speed, generating ultra-fast static sites."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Ionic" link="https://ionicframework.com/" icon="fa-solid fa-book" description="Framework for building cross-platform mobile and web apps with standard web technologies."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Wordpress" link="https://wordpress.com/" icon="fa-brands fa-wordpress" description="Popular and flexible CMS for easily creating and managing websites."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Joomla!" link="https://www.joomla.org/" icon="fa-brands fa-joomla" description="Robust content management system with a modular and community-driven approach."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Drupal" link="https://new.drupal.org/" icon="fa-brands fa-drupal" description="Powerful and secure CMS, ideal for complex and highly customized websites."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Magento" link="https://business.adobe.com/products/magento/magento-commerce.html" icon="fa-brands fa-magento" description="Robust and scalable eCommerce platform for advanced online stores."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Shopify" link="https://www.shopify.com" icon="fa-brands fa-shopify" description="All-in-one solution for quickly and easily creating online stores."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Umbraco" link="https://umbraco.com/" icon="fa-brands fa-umbraco" description=".NET-based CMS that is flexible and user-friendly for custom websites."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Modx" link="https://modx.com/" icon="fa-brands fa-modx" description="Hybrid CMS and framework for free, secure, and highly customizable web development."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="jQuery" link="https://jquery.com/" icon="fa-solid fa-book" description="JavaScript library that simplifies DOM manipulation and events with concise code."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Mootools" link="https://mootools.net/" icon="fa-solid fa-book" description="Object-oriented JavaScript library for building clean and modular web interfaces."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Webpack" link="https://webpack.js.org/" icon="fa-solid fa-book" description="Module bundler that optimizes and organizes assets for modern web applications."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="nodejs" link="https://nodejs.org" icon="fa-brands fa-node-js" description="Server-side JavaScript runtime, ideal for fast and scalable applications."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="openAI" link="https://openai.com/" icon="fa-solid fa-book" description="Advanced AI platform for language processing, vision, and content generation."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="localAI" link="https://localai.io/" icon="fa-solid fa-book" description="Local AI model implementation focused on privacy and control without cloud dependency."/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Vision" link="https://cloud.google.com/vision" icon="fa-solid fa-book" description="Image analysis API that detects objects, text, and labels using Google AI."/>
    </li>    
</ul>