---
 const { title, description, link } = Astro.props;

---
<div class="card h-100 shadow-sm">
    <div class="card-body">
    <h5 class="card-title fw-semibold"><i class="fab fa-linkedin me-2 text-primary mainIcon"></i>LinkedIn: *{ title }*</h5>
    <p class="card-text">{ description }</p>
    <a href={ link } target="_blank" class="btn btn-outline-primary">
        <i class="fas fa-arrow-right me-1"></i> Leer en LinkedIn
    </a>
    </div>
</div>

<style>
	h5{
		font-size: 1.5rem;
		font-weight: 600;
		margin: 15px 0;
	}
    i.mainIcon{    
        font-size: 20px;
        margin: 8px;
        border-radius: 25px;
        padding: 10px;
        box-shadow: 0px 1px 4px #666;
    }
</style>