---
import UpButton from './UpButton.astro';
const { lang, t } = Astro.props;
---

<UpButton/>
<header id="header-top" class="header-top">
    <ul>
        <li>
            <div class="header-top-left">
                <ul>
                    <li class="select-opt">
                        <select name="language" id="language">
                            <option value="es" selected={ lang== 'es' ? true : false }>ES</option>
                            <option value="en" selected={ lang== 'en' ? true : false }>EN</option>
                            <option value="nah" selected={ lang== 'nah' ? true : false }>NAH</option>
                        </select>
                    </li>
                </ul>
            </div>
        </li>
        <li class="head-responsive-right pull-right">
            <div class="header-top-right">
                <ul>
                    <li class="header-top-contact">
                        <a href="https://t.me/Paynalton" target="_blank" title="Telegram">
                            <i class="fa-brands fa-telegram"></i> Telegram
                        </a>
                    </li>
                    <li class="header-top-contact">
                        <a href="mailto:cxescalona@gmail.com" target="_blank" title="Email">
                            <i class="fa fa-envelope"></i> { t._t("Email") }
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
            
</header>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const languageSelect = document.getElementById('language');
        languageSelect?.addEventListener('change', function() {
            const selectedLanguage = this.value;
            const currentUrl = window.location.href;
            const newUrl = currentUrl.replace(/\/(es|en|nah|yua)\//, `/${selectedLanguage}/`);
            window.location.href = newUrl;
        });
    });
	
</script>
