---
import Lenguaje from './lenguaje.astro';
const { t } = Astro.props;
---

<ul class="row">
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="PHP" link="https://www.php.net/" icon="fa-brands fa-php" description={ t._t("Efficient and scalable backend development with PHP for websites and web applications.") }/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="JavaScript" link="https://developer.mozilla.org/en-US/docs/Web/JavaScript" icon="fa-brands fa-js" description={ t._t("Modern web interactivity and dynamics for both frontend and backend.") }/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="SQL" link="https://www.mysql.com/" icon="fa-solid fa-database" description={ t._t("Efficient management, querying, and manipulation of relational databases.") }/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="HTML" link="https://developer.mozilla.org/en-US/docs/Web/HTML" icon="fa-brands fa-html5" description={ t._t("Clear and semantic structuring of web content.") }/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="XML" link="https://ubl.xml.org/" icon="fa-solid fa-code" description={ t._t("Flexible and extensible data exchange and organization format.") }/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="LUA" link="https://www.lua.org/" icon="fa-solid fa-code" description={ t._t("Lightweight and embeddable language ideal for scripting and efficient automation.") }/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Bash" link="https://www.gnu.org/software/bash/" icon="fa-solid fa-code" description={ t._t("Task automation and Unix/Linux environment control via console.") }/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Python" link="https://www.python.org/" icon="fa-brands fa-python" description={ t._t("Versatile development with clean syntax for scripts, apps, and data analysis.") }/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Java" link="https://www.java.com/" icon="fa-brands fa-java" description={ t._t("Robust, cross-platform applications focused on performance and scalability.") }/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Dart" link="https://dart.dev/" icon="fa-brands fa-dart-lang" description={ t._t("Fast and structured frontend development, especially with Flutter.") }/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Liquid" link="https://shopify.github.io/liquid/" icon="fa-solid fa-code" description={ t._t("Flexible templating engine for dynamic sites and Shopify stores.") }/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Blade" link="https://bladelang.org/" icon="fa-solid fa-code" description={ t._t("Clean and reusable templates for Laravel PHP projects.") }/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="SaSS" link="https://sass-lang.com/" icon="fa-brands fa-sass" description={ t._t("CSS extension with variables, functions, and nesting for more maintainable styles.") }/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Less" link="https://lesscss.org/" icon="fa-brands fa-less" description={ t._t("CSS preprocessor that simplifies modular and dynamic styling.") }/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Css" link="https://developer.mozilla.org/en-US/docs/Web/CSS" icon="fa-brands fa-css3-alt" description={ t._t("Visual and responsive styling for attractive web interfaces.") }/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Latex" link="https://www.latex-project.org/" icon="fa-solid fa-code" description={ t._t("Precise composition of technical, scientific, and academic documents.") }/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="TypeScript" link="https://www.typescriptlang.org/" icon="fa-solid fa-code" description={ t._t("Typed JavaScript code that improves scalability and maintainability.") }/>
    </li>
    <li class="col-md-4 col-sm-6">
        <Lenguaje title="Scratch" link="https://scratch.mit.edu/" icon="fa-solid fa-code" description={ t._t("Educational visual programming for teaching logic and creativity from scratch.") }/>
    </li>    
</ul>