---
import Item from './jobs/item.astro';
const { t, lang } = Astro.props;
---
<div class="section-header">
    <a name="experience"></a>
    <h2>{ t._t("Experience") }</h2>
    <p>{ t._t("Professional journey where I’ve contributed with technical solutions, creative development, and collaborative work.") }</p>
</div>
<!--/.section-header-->
<div class="blog-content">
    <div class="row">
        <Item title="SoDigital" 
            link="https://sodigital.mx/" 
            image="/assets/images/sodigital.png" 
            cargo="Development Manager" 
            fecha="2020–2025"
            description={ t._t("Project planning and development, software architecture, FullStack programming, integration, DevOps, QA, and SEO. Creation of processes and development departments.") }/>
        <Item title="Ingenia Agency" 
            link="https://ingenia.com/" 
            image="/assets/images/ingenia.png" 
            cargo="Backend Developer" 
            fecha="2019–2020"
            description={ t._t("Project planning and development, software architecture, integration.") }/>
        <Item title="Zenit Consultores" 
            link="https://zenit.mx/" 
            image="/assets/images/zenit.png" 
            cargo="FullStack Developer" 
            fecha="2018–2019"
            description={ t._t("Project design and development, project leadership, bug analysis and resolution.") }/>
        <Item title="CAT Products" 
            link="https://imaldimexico.com/" 
            image="/assets/images/imaldi.png" 
            cargo="Development Manager" 
            fecha="2013–2018"
            description={ t._t("ERP system development, consulting in network infrastructure, security, and e-commerce.") }/>
        <Item title="Electronic Spacios Finder" 
            link="https://e-spacios.com/" 
            image="/assets/images/espacios.png" 
            cargo="FullStack Developer" 
            fecha="2012–2013"
            description={ t._t("Website development, SEO, architecture, DBA, DevOps.") }/>
        <Item title="Idea Diseño" 
            link="https://ideadiseno.com.mx/" 
            image="/assets/images/idea.png" 
            cargo="FullStack Developer" 
            fecha="2011–2012"
            description={ t._t("Website development, creation of innovative technology solutions.") }/>
        <Item title="Computación Integral HETI" 
            link="https://heti.com.mx/" 
            image="/assets/images/heti.png" 
            cargo="FullStack Developer" 
            fecha="2009–2010"
            description={ t._t("Website development, ERP systems, web solutions, integrations.") }/>
        <Item title="ASM Clasificados de México" 
            link="https://www.segundamano.mx/" 
            image="/assets/images/asm.png" 
            cargo="HelpDesk Technician" 
            fecha="2007–2009"
            description={ t._t("Support, development of productivity tools.") }/>
        <Item title="Mainbit" 
            link="https://www.mainbit.com.mx/" 
            image="/assets/images/mainbit.png" 
            cargo="HelpDesk Technician" 
            fecha="2006–2007"
            description={ t._t("On-site IT incident support.") }/>
        <Item title="Computadoras DAE" 
            link="#" 
            image="/assets/images/dae.jpg" 
            cargo="Production Manager" 
            fecha="2003–2006"
            description={ t._t("Computer assembly and hardware management.") }/>

    </div>
</div>