---
const { t, lang } = Astro.props;
---
<a name="profile"></a>
<div class="section-header">
    <h2>{ t._t("Professional Profile") }</h2>
</div>
<div class="textblock row d-flex" >
    <div class="col-12 col-md-4 h-100">
        <div class="h-100">
            <img src="/assets/images/frase.jpg" alt="Paynalton" class="img-fluid rounded-circle d-sm-none" />
        </div>
    </div>
    <div class="col-12 col-md-8 h-100">
        <h2>Paynalton</h2>
        <p><strong>{ t._t("Engineering Manager & Solution Architect") }</strong></p>
        <p><strong>{ t._t("30 Years Building Teams, Systems, and Scalable Solutions") }</strong></p>
        
        <p>{ t._t("I am an Engineering Manager and Solution Architect with 30 years of experience leading the design and development of secure, scalable, and high-impact software solutions. With a strong foundation as a fullstack developer, I specialize in building resilient teams, defining technical strategy, and aligning software architecture with business goals.") }</p>
    
        <p>{ t._t("Throughout my career, I’ve created systems from scratch—web platforms, custom ERPs, CI/CD frameworks—adapting to fast-paced environments and limited resources. I’ve worked with Laravel, Vue.js, Docker, AWS, and many other tools to deliver solutions that are both technically robust and user-centered.") }</p>
    
        <p>{ t._t("I thrive on complexity, but lead with simplicity: clear processes, thoughtful design, and a human approach to technology leadership. Whether it’s mentoring developers, optimizing workflows, or architecting cross-platform applications, I bring purpose, precision, and passion to every project.") }</p>
    
        <p>{ t._t("If you're looking for a strategic thinker with deep technical roots and proven leadership, let’s connect.") }</p>
    </div>    
</div>
<div class="textblock"> 
    <blockquote cite="https://es.wikipedia.org/wiki/Albert_Camus">
        <p>{ t._t("Simplicity is the ultimate sophistication.") }</p>
        <footer>— <cite>{ t._t("Leonardo da Vinci") }</cite></footer>
    </blockquote>
</div>